
# ....Jetbrains....................................................................................
.idea/
*.iml

# ....VM...........................................................................................
**/.vagrant/

# ....Python related...............................................................................
**/.pytest_cache/
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
out/
**/*.out
**/*.log

# ....OS...........................................................................................
**/.DS_Store
